@model QuestionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-3">Post your question</h1>
<div asp-validation-summary="All" class="text-danger"></div> 

<form class="d-flex flex-column gap-4" asp-action="Create">
    <partial name="_QuestionForm" model="@Model" />

    <div class="d-flex gap-3">
        <button type="submit" class="btn btn-primary">Post</button>
        <a asp-action="UserQuestions" class="btn btn-secondary">Cancel</a>
    </div>
</form>

<style>
    textarea.form-control {
        min-height: 12rem;
    }
</style>

